body {
  background-color: #f4f0ea;
  min-height: 100vh;
}

header {
  display: flex;
  text-align: center;
  height: 80px;
  gap: 30px;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 60px;
  height: 60px;
}

a.page {
  text-align: left;
  text-decoration: none;
  font-weight: bold;
}

h3 {
  color: black; 
}


/* Carousel Imgs */
.slides {
  height: 80vh;
  width: 70%;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  margin: 0 auto; /* center img */
  zoom: 85%;
}

a {
  cursor: pointer;
}

.slide {
  position: absolute;
  align-items: center;
  height: 100%;
  opacity: 0;
  inset: 0;
  animation: slide-show 16s infinite;
}

.slide-1 {
  animation-delay: 0s;
}

.slide-2 {
  animation-delay: 4s;
}

.slide-3 {
  animation-delay: 8s;
}

.slide-4 {
  animation-delay: 12s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes slide-show {
  0% {
    opacity: 0;
  }

  10%{
    opacity: 1;
  }

  20%,
  30%{
    opacity: 1;
    scale: 1.03;
  }

  50%{
    opacity: 0;
  }

}

section {
  padding-left: 13rem;
  
  span {
    color: red;
    font-weight: bold;
  }
}

footer {
  padding-top: 3rem;
  text-align: center;

}
.paragrafo {
  font-weight: bold;

}

